services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: webz-integration-backend
    ports:
      - '8080:8080'
    environment:
      NODE_ENV: ${NODE_ENV}
      API_PORT: ${API_PORT}
      SYSTEM_LANGUAGE: ${SYSTEM_LANGUAGE}
      DB_HOST: db
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      WEBZ_IO_API_KEY: ${WEBZ_IO_API_KEY}
      WEBZ_NEWS_URL: ${WEBZ_NEWS_URL}
    volumes:
      - .:/app
    depends_on:
      - db

  db:
    image: postgres:14-alpine
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - '5432:5432'
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data:
    driver: local
